{{> head }}
{{> navbar }}
 
    <div class="row container">
        <div class="col-md-8">
            <h1>Curso de node.js en aprendizaje</h1>
        </div>
        <div class="col-md-4">
            <img src="assets/img/nodejs.jpg" class="img-thumbnail">
        </div>
    </div>


{{> footer }}